{% extends "base.html" %}
{% block title %}Transactions{% endblock %}
{% block content %}
<br />
<h1 align="center">Transactions</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for transaction in user.transactions %}
        <li class="list-group-item">
            <form method="POST">
                <input type="hidden" value="{{ transaction.user_id }}" name="delete" id="delete"/>
                <input type="hidden" value="{{ transaction.id }}" name="todelete" id="todelete"/>
                {{ transaction.data }}
                <button type="submit" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>


{% endblock %}
